
  <div class="form-container">
    <dx-form id="form"
        [colCount]="2"
        [formData]="productClone">
        <dxi-item dataField="id" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="name"></dxi-item>
        <dxi-item dataField="price"></dxi-item>
        <dxi-item dataField="creationDate" editorType="dxDateBox"></dxi-item>
        <dxi-item dataField="description" editorType="dxTextArea" [editorOptions]="{ height: 90 }" [colSpan]="2"></dxi-item>
    </dx-form>

    <div class="button-bar">
      <button (click)="deleteProduct()">Delete</button>
      <button (click)="updateProduct()">Update</button>
    </div>
  </div>

